<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%= blog.body %></p>
      </div>
      <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
      const trashcan = document.querySelector("a.delete");

      //adding eventlistener
      trashcan.addEventListener("click", (e) => {
        //endpoint is route where we want to send the delete request
        const endpoint = `/blogs/${trashcan.dataset.doc}`;
        //here we are making a AJAX request
        //with AJAX request we always look for some response not any redirect
        fetch(endpoint, {
          method: "DELETE",
        })
          //converting json into js object
          .then((response) => response.json())
          //redirecting
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
